<div class="inline fields">
    <div class="field" style="display:inline-block">
        <span>เวลา</span>

        <div class="ui selection dropdown month-dropdown" style="width: 100px; z-index: 50" id="timeFrom">
            <input type="hidden"/>

            <div class="text" data-value="-1">ทั้งหมด</div>
            <div class="menu">
                <div ng-repeat="time in times" class="item " data-value="{{time.key}}">
                    {{time.value}}
                </div>
            </div>
        </div>

    </div>

    <div class="field">

        <span>ถึง</span>

        <div class="ui selection dropdown month-dropdown" style="width: 100px; z-index: 50" id="timeTo">
            <input type="hidden"/>

            <div class="text" data-value="-1">ทั้งหมด</div>
            <div class="menu">
                <div ng-repeat="time in times" class="item " data-value="{{time.key}}">
                    {{time.value}}
                </div>
            </div>
        </div>

    </div>
</div>