<section>
    <div ng-if="false" class="ko-title-message"> รายงานอัตราการสัมผัสหน้าจอ (Touch Screen) </div>
    <touch-form class="animate fadeIn" show-category-a="true" show-category-b="true"> </touch-form>

    <div class="ko-title-message"> กราฟการใช้งาน Touch Screen </div>
    <touch-graph chart-type="bar"></touch-graph>

    <div class="ko-title-message">ตารางแสดงการ Touch Screen ตามประเภทสินค้า</div>
    <touch-table html-template="/views/directives/categoryCTable.html"></touch-table>
</section>
