<table class="ui celled small table segment">
    <thead>
    <tr>
        <th>
            <span class="">
                <i class="ui tablet icon"></i>
                <i class="ui icon time"></i>
            </span>
        </th>

        <th colspan="2" ng-repeat="column in sum.columnNames" style="text-align: center">
            <span style="white-space: nowrap">
                {{column}}
            </span>
        </th>

        <th></th>

    </tr>
    </thead>

    <tbody>
    <tr>
        <td style="text-align: left" ng-if="true">
            <span style="white-space: nowrap" ng-if="false">
                PIR & Touch
            </span>
        </td>

        <td ng-repeat=" column in [] | range: sum.columnNames.length * 2 " class="right header">
            <div ng-if="($index % 2 == 0)" class="ui tiny circular image animated fadeInLeft">
                <img src="images/pir.png" alt=""/>
            </div>
            <div ng-if="($index % 2 != 0)" class="ui tiny circular image">
                <img src="images/touch.png" alt=""/>
            </div>
        </td>

        <td></td>
    </tr>

    <tr ng-repeat="device in sum.devices" class="animated fadeIn">
        <td>
            <span class="ui black" style="white-space: nowrap" ng-if="false">
                <!--<i class="ui location icon"></i>-->
                {{device.createBy}}
            </span>
            <br/>
            <span style="white-space: nowrap">
                <i class="ui tablet icon"></i>
                {{device.createBy}}
            </span>
        </td>


        <td ng-repeat="column in getDuplicateColumns()" class="right">
            <span ng-if="$index % 2 == 0">
                {{ getPirInfos(column.replace('pir', '') , device).length }}
            </span>
            <span ng-if="$index % 2 != 0">
                {{ getTouchInfos(column.replace('touch', '') ,device).length }}
            </span>

            <span ng-if="$index == sum.columnNames.length * 2 -1">
            </span>
        </td>
        <td></td>

    </tr>

    </tbody>

    <tfoot>
    <tr>
        <th style="font-style: normal">
            <i class="ui add icon"></i> Totals
        </th>


        <th ng-repeat="column in getDuplicateColumns()" class="right">
            <span ng-if="$index % 2 == 0">
                {{ sum.pirInfos[column.replace('pir','')].length }}
            </span>
            <span ng-if="$index % 2 != 0">
                {{ sum.touchInfos[column.replace('touch','')].length }}
            </span>
        </th>

        <th></th>

    </tr>

    </tfoot>
</table>

