<div class="">
    <div class="ui small message blue animated fadeIn" style="text-transform: none" ng-if="!currentQuery.groupByTime">
        <i class="ui payment icon "></i> รายงาน RIP เปรียบเทียบกับ Touch Screen ตามจำนวนคลิก
    </div>
    <div class="ui small message blue animated fadeIn" style="text-transform: none" ng-if="currentQuery.groupByTime">
        <i class="ui payment icon "></i> รายงาน RIP เปรียบเทียบกับ Touch Screen ตามจำนวนคลิกแบ่งแต่ละช่วงเวลา
    </div>

    <div class="ui segment" ng-include src="'views/homes/controls.html'" style="padding-top:5px;"></div>
</div>

<br/>
<div class="animated fadeInUp" ng-if="true" style="z-index: 10">
    <div class="ui small message blue " style="text-transform: none">
        <i class="ui signal icon "></i> กราฟแสดง RIP เปรียบเทียบกับ Touch Screen ตามจำนวนคลิก
    </div>
    <div class="ui segment" ng-include src="'views/homes/chart.html'" style="padding-top:5px;"></div>
</div>

<br/>

<div ng-if="sum.devices">

    <div class="ui small message blue" style="text-transform: none; ">
        <i class="ui reorder icon "></i> ตารางแสดงการคลิกของแต่ละสาขา
    </div>

    <div class="wrapper">
        <div class="scroll">
            <div class="ui " ng-include src="'views/homes/table.html'" style="padding-top:5px;"></div>
        </div>
    </div>
</div>

