<div>
    <div class="ui fields" style="margin-bottom:10px;margin-top:8px">
        <div class="ui buttons">
            <div  class="mini ui button" ng-class="{ green : isSelected(queryType.daily) }" ng-click="selectQueryType(queryType.daily)">
                <i class="ui time icon animated fadeIn" ng-if="isSelected(queryType.daily)" ></i>
                รายวัน
            </div>
            <div class="mini ui button" ng-class="{ green : isSelected(queryType.monthly) }" ng-click="selectQueryType(queryType.monthly)">
                <i class="ui time icon animated fadeIn" ng-if="isSelected(queryType.monthly)" ></i>
                รายเดือน
            </div>
            <div class="mini ui button" ng-class="{ green :  isSelected(queryType.yearly) }" ng-click="selectQueryType(queryType.yearly)">
                <i class="ui time icon animated fadeIn" ng-if="isSelected(queryType.yearly)" ></i>
                รายปี
            </div>
        </div>
    </div>
    <br/>

    <div ng-include src=" 'views/homes/options/days.html' "
         class="ui form animated fadeIn"
         ng-show="isSelected(queryType.daily)" style="z-index: 100">  <!-- DAYS -->
    </div>

    <div ng-include src=" 'views/homes/options/months.html' "
         class="ui form animated fadeIn"
         ng-show="isSelected(queryType.monthly)" style="z-index: 100">  <-- MONTHS -->
    </div>

    <div ng-include src=" 'views/homes/options/years.html' "
         class="ui form animated fadeIn"
         ng-show="isSelected(queryType.yearly)" style="z-index: 100"> <!-- YEARS -->
    </div>

    <div ng-include src=" 'views/homes/options/times.html' " class="ui form"> <!-- TIMES -->
    </div>

    <div ng-include src=" 'views/homes/options/categories.html' " class="ui form"> <!-- category -->
    </div>

    <div style="padding-left: 100px">
        <div class="ui mini black button" ng-click="startQuery()">
            <i class="desktop icon"></i>
            แสดงผล
        </div>
        <div class="ui mini black button" ng-click="clear()" ng-if="false">เคลียร์</div>
    </div>
</div>