<section class="ko-table" ng-if="records.datas">
    <table class="ui small table segment">
        <thead>
            <tr>
                <th nowrap><i class="ui bolt icon"></i>ลำดับ</th>
                <th ng-repeat="column in records.columns" class="ko-inline">
                    <span class="ko-inline ko-center">{{column}}</span>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="el in records.rows">
                <td nowrap class="ko-center">{{$index+1}}</td>

                <td nowrap ng-repeat="column in records.columns">
                    <span class="ko-center">{{records.getBranchRecord($index, $parent.$index)}}</span>
                </td>
            </tr>
        </tbody>

        <tfoot ng-if="false">
            <tr>
                <td>รวม</td>
                <td ng-repeat="column in records.columns">
                   <span class="ko-right animated fadeInUp">{{ records.getBranchSum($index) | number: 0 }}</span>
                </td>
            </tr>
        </tfoot>

    </table>
</section>
