<div class="">
    <div class="ko-title-message" ng-if="!currentQuery.groupByTime">
        <i class="grid layout icon "></i> รายงานเปรียเทียบ PIR, Ultra Sonic และ Touch Screen
    </div>
    <div class="ko-title-message" ng-if="currentQuery.groupByTime">
        <i class="grid layout icon "></i> รายงานเปรียเทียบ PIR, Ultra Sonic และ Touch Screen แบ่งแต่ละช่วงเวลา
    </div>
    <div class="ui segment" ng-include src="'views/homes/controls.html'" style="padding-top:5px;"></div>
</div>

<br/>
<div class="animated fadeInUp" ng-if="true" style="z-index: 10">
    <div class="ko-title-message">
        <i class="grid layout icon"></i> กราฟเปรียเทียบ PIR, Ultra Sonic และ Touch Screen
    </div>
    <div class="ui segment ko-graph" ng-include src="'views/homes/chart.html'" style="padding-top:5px;"></div>
</div>

<br/>

<div ng-if="sum.devices">
    <div class="ko-title-message">
        <i class="grid layout icon"></i> รายการแต่ละสาขา
    </div>
    <div class="ui " ng-include src="'views/homes/table.html'" style="padding-top:5px;"></div>
</div>
