<div class="">
    <div class="ui mini button" style="margin:10px">
        <i class="ui payment icon"></i> รายงาน RIP เปรียบเทียบกับ Touch Screen ตามจำนวนคลิก
    </div>
    <div class="ui segment" ng-include src="'views/homes/controls.html'" style="padding-top:5px;"></div>
</div>

<dvi class="">
    <div class="ui mini button" style="margin:10px">
        <i class="ui desktop icon"></i> กราฟแสดง RIP เปรียบเทียบกับ Touch Screen ตามจำนวนคลิก
    </div>
    <div class="ui segment" ng-include src="'views/homes/chart.html'" style="padding-top:5px;"></div>
</dvi>

<div class="animated fadeIn" ng-if="false">
    <div class="ui mini button" style="margin:10px">
        <i class="ui reorder icon"></i> ตารางแสดงการคลิกของแต่ละสาขา
    </div>
    <div class="ui " ng-include src="'views/homes/table.html'" style="padding-top:5px;"></div>
</div>


